* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Default alignment */
    background-image: url('../../img/slider-1.jpg');
    padding: 20px; /* Add padding for smaller screens */
}

.lowerbanner {
    position: relative;
    width: 100vw;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../../img/slider-1.jpg');
}

    .lowerbanner::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity here */
        z-index: 1;
    }

    /* Make sure your content is above the overlay */
    .lowerbanner > * {
        position: relative;
        z-index: 2;
    }