@{
    ViewData["Title"] = "About - Maximus Title";
}

<link href="~/css/Home/About.css" rel="stylesheet" />

<div class="breadcrumb-header justify-content-between banner-container bg-primary pd-l-50 pd-r-50 pd-t-20 pd-b-20 mt-0 mb-0">
	<div class="left-content">
		<span class="main-content-title mg-b-0 mg-b-lg-1 text-white">ABOUT</span>
	</div>
	<div class="justify-content-center mt-2">
		<ol class="breadcrumb">
			<li class="breadcrumb-item tx-15"><a asp-controller="Home" asp-action="Index">Home</a></li>
			<li class="breadcrumb-item active text-white" aria-current="page">About</li>
		</ol>
	</div>
</div>
<div class="banner">
	<div class="banner-content">
		<h1>THE MAXIMUS ADVANTAGE</h1>
		<p>Maximus Title is an innovative and full service title insurance agency providing real estate services on a National, Regional, Local level for Commercial and Residential transactions specializing in issuing title insurance and 1031 Tax Deferred Exchanges. Our areas of expertise include knowledge of Mezzanine Financing, Defeasance, Real Estate Tax Certiorari and Abatement, Brownfield and Environmental concerns for all types of Commercial order requests.</p>
	</div>
</div>
<div class="mt-5 d-flex flex-row justify-content-center">
    <div class="col-sm-12 col-lg-12 col-xl-6 text-primary align-items-center justify-content-center">
        <div class="card-body d-flex flex-column">
            <span class="card-title mb-3 tx-20">A GLOBAL SERVICE</span>
            <span class="card-text">
                We built our success in New York and states along the eastern seaboard of the USA. Today, we facilitate transactions nationally and around the world with the same level of passionate service that earned us our reputation for excellence. No matter where they are, our clients benefit from our long-standing relationships with the nation’s top underwriters.
            </span>
            <span class="card-text mt-2 tx-bold">
                More Than Title Insurance.
            </span>
            <span class="card-text">
                We’re a group of dedicated professionals offering exclusive services at the highest level of excellence. Our flexible business model lets us serve dozens of industries including financial institutions, real estate developers, agents and brokers, attorneys, credit unions, and many more.
            </span>
            <span class="card-text mt-2 tx-bold">
                Any Deal, Any Time.
            </span>
            <span class="card-text">
                From a modest refinance to a billion-dollar purchase, we’re ready to deliver. Our expert staff and seasoned legal team are ready to meet every challenge in the commercial and residential arena.
            </span>
        </div>
	</div>
    <div class="col-sm-12 col-lg-12 col-xl-6 d-flex flex-row-reverse align-items-center justify-content-center">
        <img src="/img/highlighted.jpg" style="height:80%; width:auto;" />
    </div>
</div>
<div class="mt-5 d-flex flex-row justify-content-center align-items-center">
    <div class="col-sm-12 col-lg-12 col-xl-6 d-flex flex-row-reverse align-items-center justify-content-center">
        <img src="/img/highlighted.jpg" style="height:80%; width:auto;" />
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-6 text-primary align-items-center justify-content-center">
        <div class="card-body d-flex flex-column">
            <span class="card-title mb-3 tx-20">ALL-STAR TEAMWORK</span>
            <span class="card-text">
                Maximus Title’s Management Team has over 35 years of combined experience in the industry along with the support of our national underwriter, First American Title Insurance Company of New York. We work closely with our customers: Attorneys, Lending Institutions, Mortgage Bankers/Brokers, Owners, Investors, Developers and Purchasers. This has made Maximus Title a leader in the industry through insuring numerous properties and issuing over one billion and a half dollars in title policies annually.
            </span>
            <span class="card-text mt-2">
                The above mentioned achievements have been accomplished by our vast experience in the Commercial and Residential real estate title insurance industry along with the support, confidence and relationships Maximus Title has built by providing a high level of personal customer service, integrity and dependability with its customers.
            </span>
            <div class="mt-3">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Contact">
                    CONTACT US
                </a>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row justify-content-center mt-5 mb-4">
    <strong class="tx-20 text-primary">
        HIGHLIGHTED TRANSACTIONS
    </strong>
</div>
<div class="banner-container panel panel-primary tabs-style-2">
    <div class="tab-menu-heading">
        <div class="tabs-menu1">
            <ul class="nav panel-tabs main-nav-line d-flex flex-row justify-content-center">
                <li><a href="#tab4" class="nav-link active" data-bs-toggle="tab">HUDSON GARDENS</a></li>
                <li><a href="#tab5" class="nav-link" data-bs-toggle="tab">RECENT TRANSACTIONS</a></li>
                <li><a href="#tab6" class="nav-link" data-bs-toggle="tab">HIGHLIGHTED TRANSACTIONS</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body tabs-menu-body main-content-body-right text-white p-0">
        <div class="tab-content bg-primary">
            <div class="tab-pane active" id="tab4">
                <div class="row mt-5 mb-5 mx-5">
                    <div class="col-sm-12 col-lg-12 col-xl-6 d-flex flex-column">
                        <strong class="tx-20">
                            HUDSON GARDENS
                        </strong>
                        <strong class="mt-3">
                            35,000 GSF RETAIL:
                        </strong>
                        <span>
                            YOU SAVE: $437.50 per month
                        </span>
                        <span>
                            Based on typical industry cost of $0.0125 per square foor per month.
                        </span>
                        <strong class="mt-3">
                            92 CONDO UNITS:
                        </strong>
                        <span>
                            YOU SAVE: $6,900 to 9,200 per month
                        </span>
                        <span>
                            Based on typical industry cost of $75-$100 per unit per month.
                        </span>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-xl-6 d-flex flex-row-reverse">
                        <img src="/img/hudsonGardens.jpg" style="height:100%; width:auto;" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab5">
                <div class="row mt-5 mb-5 mx-5">
                    <div class="col-sm-12 col-lg-12 col-xl-6 d-flex flex-column">
                        <span>
                            <strong>$247,000,000</strong> Construction Loan for Condo Development - Lower Manhattan
                        </span>
                        <span class="mt-4">
                            <strong>$440,000,000</strong> Financing on Manhattan Office Building - Manhattan
                        </span>
                        <span class="mt-4">
                            <strong>$275,000,000</strong> Financing on Hotel/Retail/Condo Development - Manhattan
                        </span>
                        <span class="mt-4">
                            <strong>$12,000,000</strong> Financing on Commercial Condominium Units Manhattan
                        </span>
                        <span class="mt-4">
                            <strong>$2,830,382</strong> Refinance on Commercial Buildings - Staten Island
                        </span>
                        <span class="mt-4">
                            <strong>$6,300,000</strong> Purchase on Condo, Park Avenue - Manhattan
                        </span>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-xl-6 d-flex flex-row-reverse">
                        <img src="/img/recent.jpg" style="height:100%; width:auto;" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab6">
                <div class="row mt-5 mb-5 mx-5">
                    <div class="col-sm-12 col-lg-12 col-xl-6 d-flex flex-column">
                        <span>
                            <strong>$803,000,000</strong> Refinance of a Major Midtown Office Building in Manhattan, New York
                        </span>
                        <span class="mt-4">
                            <strong>$247,000,000</strong> Construction Loan for Condominium Development Transaction in Lower Manhattan, New York
                        </span>
                        <span class="mt-4">
                            <strong>$40,000,000</strong> Development Financing in Las Vegas, Nevada
                        </span>
                        <span class="mt-4">
                            <strong>$11,000,000</strong> Development Financing for Retail, Conference Center & Condominiums in Orlando, Florida
                        </span>
                        <span class="mt-4">
                            <strong>$17,500,000</strong> Financing on 2 Shopping Malls in Southern California
                        </span>
                        <span class="mt-4">
                            <strong>$29,000,000</strong> Financing on 4 Mobile Home Parks in South Florida
                        </span>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-xl-6 d-flex flex-row-reverse">
                        <img src="/img/highlighted.jpg" style="height:100%; width:auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-container text-primary d-flex flex-row justify-content-around align-items-center pt-4 pb-4">
    <strong class="tx-20">
        WE'RE MORE THAN TITLE INSURANCE.
    </strong>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Services">
        SERVICES
    </a>
</div>