@{
    ViewData["Title"] = "Industry Links - Maximus Title";
}

<link href="~/css/Home/IndustryLinks.css" rel="stylesheet" />

<div class="breadcrumb-header justify-content-between banner-container bg-primary pd-l-50 pd-r-50 pd-t-20 pd-b-20 mt-0 mb-0">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1 text-white">INDUSTRY LINKS</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active text-white" aria-current="page">Industry Links</li>
        </ol>
    </div>
</div>
<div class="banner">
</div>

<div class="d-flex flex-row justify-content-center mb-5 mt-5">
    <div class="col-sm-3 col-lg-3 col-xl-3 mx-5 d-flex flex-column">
        <strong class="tx-20 text-primary">
            REAL ESTATE RESOURCES
        </strong>
        <div class="listgroup-example mt-3">
            <ul class="list-group">
                <li>
                    <a href="https://a836-acris.nyc.gov/DS/DocumentSearch/Index" target="_blank">
                        ACRIS
                    </a>
                </li>
                <li>
                    <a href="http://home.nyc.gov/portal/site/nycgov/?pageID=nyc_home" target="_blank">
                        The Official New York City Web Site
                    </a>
                </li>
                <li>
                    <a href="https://www1.nyc.gov/site/finance/pay-now/pay.page" target="_blank">
                        New York City Department of Finance
                    </a>
                </li>
                <li>
                    <a href="#">
                        Real Estate Transfer Tax Forms
                    </a>
                </li>
                <li>
                    <a href="http://www.lsrp.com/" target="_blank">
                        Land Surveyor Reference
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-xl-3 mx-5 d-flex flex-column">
        <strong class="tx-20 text-primary">
            ORGANIZATIONS
        </strong>
        <div class="listgroup-example mt-3">
            <ul class="list-group">
                <li>
                    <a href="https://www.alta.org/" target="_blank">
                        ALTA American Land Title Association
                    </a>
                </li>
                <li>
                    <a href="https://www.americanbar.org/aba.html" target="_blank">
                        ABA American Bar Association
                    </a>
                </li>
                <li>
                    <a href="https://www.rebny.com/" target="_blank">
                        Real Estate Board of New York
                    </a>
                </li>
                <li>
                    <a href="https://www.mba.org/" target="_blank">
                        MBA Mortgage Bankers Association of America
                    </a>
                </li>
                <li>
                    <a href="https://www1.nyc.gov/site/lpc/index.page" target="_blank">
                        New York City Landmarks Preservation Commission
                    </a>
                </li>
                <li>
                    <a href="https://www.naiop.org/" target="_blank">
                        NAIOP – National Association of Industrial and Office Properties
                    </a>
                </li>
                <li>
                    <a href="http://www.cnyc.com/" target="_blank">
                        The Council of New York Cooperatives and Condominiums
                    </a>
                </li>
                <li>
                    <a href="https://www.sior.com/" target="_blank">
                        SIOR – Society of Industrial and Office REALTORS
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3 col-xl-3 mx-5 d-flex flex-column">
        <strong class="tx-20 text-primary">
            RESEARCH
        </strong>
        <div class="listgroup-example mt-3">
            <ul class="list-group">
                <li>
                    <a href="http://www.inman.com/" target="_blank">
                        Inman News FeatureReal Estate Industry News
                    </a>
                </li>
                <li>
                    <a href="https://www.law.com/" target="_blank">
                        New York Law Journal
                    </a>
                </li>
                <li>
                    <a href="http://www.nysl.nysed.gov/" target="_blank">
                        New York State Library
                    </a>
                </li>
                <li>
                    <a href="https://www.legalengine.com/" target="_blank">
                        Legal Engine Search Index
                    </a>
                </li>
            </ul>
        </div>
        <strong class="tx-20 text-primary mt-5">
            NEW YORK STATE JUDICIAL SYSTEM
        </strong>
        <div class="listgroup-example mt-3">
            <ul class="list-group">
                <li>
                    <a href="http://www.nycourts.gov/index.shtml" target="_blank">
                        New York State Unified Court System
                    </a>
                </li>
                <li>
                    <a href="http://www.courts.state.ny.us/ctapps/" target="_blank">
                        New York State Court of Appeals
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="banner-container bg-secondary text-white d-flex flex-row justify-content-around align-items-center pt-4 pb-4">
    <strong class="tx-20">
        PROTECT YOUR INVESTMENT WITH MAXIMUS TITLE
    </strong>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Contact">
        CONTACT US
    </a>
</div>