@{
    ViewData["Title"] = "Services - Maximus Title";
}

<link href="~/css/Home/Services.css" rel="stylesheet" />

<div class="breadcrumb-header justify-content-between banner-container bg-primary pd-l-50 pd-r-50 pd-t-20 pd-b-20 mt-0 mb-0">
    <div class="left-content">
        <span class="main-content-title mg-b-0 mg-b-lg-1 text-white">SERVICES</span>
    </div>
    <div class="justify-content-center mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item tx-15"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active text-white" aria-current="page">Services</li>
        </ol>
    </div>
</div>
<div class="banner">
</div>
<div class="d-flex flex-row justify-content-center mt-5">
    <span class="tx-20 text-primary tx-bold">
        OUR KEY SERVICES
    </span>
</div>
<div class="d-flex flex-row justify-content-center mb-4 ">
    <div class="col-sm-6 col-lg-6 col-xl-6">
        <span class="tx-15 text-primary text-center d-block">
            The Maximus Title Management Team and staff are experienced in conducting commercial and residential real estate transactions. Whether it is a complex commercial property or single family home purchase, rest assured the transaction will receive our utmost attention. As such, we offer the following services:
        </span>
    </div>
</div>

<div class="d-flex flex-column flex-lg-row justify-content-center align-items-center align-items-lg-start mb-5">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mx-5 d-flex flex-column">
        <i class="mdi mdi-calendar-check tx-80 text-secondary"></i>
        <strong class="tx-20 text-primary">
            Title Insurance Programs
        </strong>
        <span class="text-primary">
            Maximus Title offers a variety of products and services designed to protect real estate lenders and owners from damage or loss. In doing so, we offer innovative and flexible underwriting with the support of the six leading national underwriters.
        </span>
        <span class="text-primary mt-2">
            Maximus Title’s comprehensive list of products included within its title programs are listed below:
        </span>
        <span class="text-primary mt-2">
            Title Insurance Policies
        </span>
        <ul class="text-primary">
            <li>
                Lenders
            </li>
            <li>
                Owners
            </li>
            <li>
                All files and approved endorsements
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mx-5 d-flex flex-column">
        <i class="mdi mdi-magnify tx-80 text-secondary"></i>
        <strong class="tx-20 text-primary">
            Additional Informational Searches
        </strong>
        <ul class="text-primary">
            <li>
                Zoning Lot Certification
            </li>
            <li>
                Cooperative Apartment searches
            </li>
            <li>
                Attorney
            </li>
            <li>
                Foreclosure
            </li>
            <li>
                Bankruptcy
            </li>
            <li>
                Patriot
            </li>
            <li>
                Mechanic's Liens
            </li>
            <li>
                Lis Pendens
            </li>
            <li>
                Last Owners
            </li>
        </ul>        
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 mx-5 d-flex flex-column">
        <i class="mdi mdi-briefcase tx-80 text-secondary"></i>
        <strong class="tx-20 text-primary">
            Loan Closing Services
        </strong>
        <span class="text-primary">
            Maximus Title recognizes who our clients are. We understand that the most important service we can provide is the assurance that your transaction will close in a timely, convenient and efficient manner with the buyer, seller or borrower being completely satisfied. Maximus Title uses a variety of closing methods utilizing qualified closing Attorneys, experienced title closers and notary closers as applicable. In the best interest of both our customers and their clients, Maximus Title offers to conduct closings anywhere at anytime.
        </span>
    </div>
</div>
<div class="lowerbanner d-flex flex-column flex-lg-row justify-content-center align-items-stretch pd-t-30 pd-b-30">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 me-4 card rounded-0 mb-0">
        <div class="card-body d-flex flex-column align-items-start">
            <span class="tx-bold tx-20">
                Commercial Services
            </span>
            <span class="mt-2">
                Maximus Title provides a full array of commercial services. Our management and staff have the experience along with the support of our national underwriters and Attorney of Counsel to assist in all aspects of a commercial transaction from structure to closing. Our area of expertise and knowledge is listed below:
            </span>
            <ul class="list-style-1 mt-2">
                <li>
                    Complete 1031 Tax Deferred Exchanges
                </li>
                <li>
                    Defeasance
                </li>
                <li>
                    Real Estate Tax Certiorari and Abatement
                </li>
                <li>
                    Brownfield
                </li>
                <li>
                    Environmental
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 p-0 d-flex">
        <img src="~/img/services-commerical.jpg" class="w-100 h-100 object-fit-cover" />
    </div>
</div>